a.switcher{text-decoration:underline;color:#00f;cursor:pointer;}
div.column{margin:2em;border:solid 1px #000;clear:both;}
div.image{width:auto;margin:1em;float:left;}
div.explain{width:70%;font-size:80%;margin:1em;float:left;}
